.page-header
  %h1 Visitor invitations

%table.table.table-striped.table-bordered
  %tr
    %th= t 'activerecord.attributes.visitor_invitation.Name'
    %th= t 'activerecord.attributes.visitor_invitation.Staff_ID'
    %th= t 'activerecord.attributes.visitor_invitation.Passport_No'
    %th= t 'activerecord.attributes.visitor_invitation.Post'
    %th= t 'activerecord.attributes.visitor_invitation.Years_at_IIIS'
    %th= t 'activerecord.attributes.visitor_invitation.Telephone_No'
    %th= t 'activerecord.attributes.visitor_invitation.Invitee'
    %th= t 'activerecord.attributes.visitor_invitation.Invitee_Name'
    %th= t 'activerecord.attributes.visitor_invitation.Invitee_Affiliation'
    %th= t 'activerecord.attributes.visitor_invitation.Invitee_Contact'
    %th= t 'activerecord.attributes.visitor_invitation.Visit_Date_start'
    %th= t 'activerecord.attributes.visitor_invitation.Visit_Date_end'
    %th= t 'activerecord.attributes.visitor_invitation.Give_talk'
    %th= t 'activerecord.attributes.visitor_invitation.Talk_title'
    %th= t 'activerecord.attributes.visitor_invitation.Airfare'
    %th= t 'activerecord.attributes.visitor_invitation.Hotel_accommodation'
    %th= t 'activerecord.attributes.visitor_invitation.Others'
    %th= t 'activerecord.attributes.visitor_invitation.Last_approval'
    %th= t 'activerecord.attributes.visitor_invitation.Other_airfare'
    %th= t 'activerecord.attributes.visitor_invitation.Other_Hotel_accommodation'
    %th= t 'activerecord.attributes.visitor_invitation.Other_Honorarium'
    %th= t 'activerecord.attributes.visitor_invitation.Other_others'
    %th= t 'activerecord.attributes.visitor_invitation.Date'
    %th

  - @visitor_invitations.each do |visitor_invitation|
    %tr
      %td= visitor_invitation.Name
      %td= visitor_invitation.Staff_ID
      %td= visitor_invitation.Passport_No
      %td= visitor_invitation.Post
      %td= visitor_invitation.Years_at_IIIS
      %td= visitor_invitation.Telephone_No
      %td= visitor_invitation.Invitee
      %td= visitor_invitation.Invitee_Name
      %td= visitor_invitation.Invitee_Affiliation
      %td= visitor_invitation.Invitee_Contact
      %td= visitor_invitation.Visit_Date_start
      %td= visitor_invitation.Visit_Date_end
      %td= visitor_invitation.Give_talk
      %td= visitor_invitation.Talk_title
      %td= visitor_invitation.Airfare
      %td= visitor_invitation.Hotel_accommodation
      %td= visitor_invitation.Others
      %td= visitor_invitation.Last_approval
      %td= visitor_invitation.Other_airfare
      %td= visitor_invitation.Other_Hotel_accommodation
      %td= visitor_invitation.Other_Honorarium
      %td= visitor_invitation.Other_others
      %td= visitor_invitation.Date
      %td
        = link_to t(:show), visitor_invitation, class: 'btn btn-mini'
        = link_to t(:edit), edit_visitor_invitation_path(visitor_invitation),
          class: 'btn btn-mini'
        = link_to t(:destroy), visitor_invitation,
          :confirm => t(:are_you_sure, default: "Are you sure?"), :method => :delete,
          class: 'btn btn-mini btn-danger'

%br

= link_to new_visitor_invitation_path, class: 'btn btn-success' do
  %i.icon-plus.icon-white
  = t(:new_visitor_invitation)

